<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Genesys.Extensions.Portable" version="4.18.6.444561" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Genesys.Framework.Interop.Portable" version="4.18.6.447491" targetFramework="portable46-net451+win81+wpa81" />
</packages>